.tm{
    text-align: center;
    color:rgb(8, 83, 8);
    border: red solid 2px;
    width: 100%;
    font-size: x-larger;
    padding: 15px;
}
.th {
background-color:rgb(148, 214, 165);
border: red solid 2px;
/*display:flex;
flex-direction: column;*/
align-items: center;
justify-content: center;
font-size: calc(10px+2vmin);
color: rgb(179, 110, 158);
width: 50%;
padding: 20px;
line-height: 30px;
}
.tb{
    background-color:rgb(243, 231, 162);
    border: rgb(143, 79, 79) solid 2px;
    color: rgb(111, 149, 179);
    width: 50%;
    padding: 20px;
    line-height: 30px;
}